* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header, #sidebar, #menu, #footer {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 24pt;
    font-weight: bolder;
    text-align: center;
}
#header{
    background-color: #92a8d1;
}
#menu {
    background-color: #b1cbbb;
    display: flex;
    justify-content: space-around;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: row; 
}
#sidebar{
    background-color: #eea29a;
    width: 200px;
    flex-shrink: 0;
}
#main {
    background-color: #c94c4c;
    flex: 1;
    padding: 20px;
    font-size: small;
}
#footer {
    background-color: darksalmon;
}